body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
  background-color:#FA5F4D;
}
h1 {font-size:5.62rem;
  margin-top:0;
  margin: 0 auto 0 auto;
  width:50%;
  padding-top:15%;
  font-family: 'Sacramento', cursive;
  color:#68423A;
}
h2{
  font-size: 2.5rem;
  color:#68423A;
}
.profile{
  font-size:1.5rem;
  width:700px;
}
.top {
  background-color:#FA5F4D
}
.pro{
  text-decoration: underline;
}
.cl1{
  position:absolute;
  top:0;
  right:10%;
  width:28%;
}

.cl2{
  position:absolute;
  top:300px;
  left:10%;
  width:28%;
}
.car{
  height: 500px;
}
hr{
  border-style: dotted none none;
  border-width:5px;
  border-color:#68423A;
  width:20%;
}
